*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  font-weight: normal;
  height: 100vh;
  margin: auto;
  width: 23.438rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.btn, input {
  height: 3rem;
  width: 100%;
}

.btn, input {
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: inherit;
}

input {
  background-color: hsl(189, 47%, 97%);
  border: none;
  padding: 0 1rem;
  text-align: right;
  caret-color: hsl(172, 67%, 45%);
}

main {
  background-color: hsl(0, 100%, 100%);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
}

h1 {
  color: hsl(183, 100%, 15%);
  font-size: 1.5rem;
  letter-spacing: 0.75rem;
  padding: 2rem;
  text-align: center;
}

.label-heading {
  color: hsl(186, 14%, 43%);
  font-size: 0.875rem;
}

#calculator {
  gap: 1rem;
}

#input-container {
  gap: 1.5rem;
  padding: 0.5rem;
}

.input-field {
  display: inline-block;
  position: relative;
  width: 100%;
}

.input-field svg {
  left: 1.5rem;
  pointer-events: none;
  position: absolute;
  top: 30%;
  transform: translate(-50%);
}

input::placeholder {
  color: hsl(184, 14%, 56%);
}

input:focus {
  outline: none;
  border: 0.1rem solid hsl(172, 67%, 45%);
}

input.invalid {
  border: 0.1rem solid red;
}

#grid-selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0.25rem 0;
}

.btn {
  border: none;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 100%, 100%);
}

.btn:active {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

.reset {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-size: 1.125rem;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 100%;
}

#output-container {
  background-color: hsl(183, 100%, 15%);
  border-radius: 1rem;
  font-size: 2rem;
  gap: 1rem;
  padding: 1.5rem;
}

#output-text {
  color: hsl(172, 67%, 45%);
  gap: 1rem;
  padding: 0.75rem 0;
}

#output-text div {
  flex-direction: row;
  justify-content: space-between;
}

span {
  color: hsl(184, 14%, 56%);
  font-size: 0.75rem;
}

#output-container label {
  color: hsl(0, 100%, 100%);
  font-size: 0.875rem;
}

@media screen and (min-width: 48rem) {
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  main {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem 1.5rem;
    width: 57rem;
  }
  #calculator {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  h1 {
    margin: 2rem;
  }
  #input-container {
    padding: 0.75rem;
    width: 50%;
  }
  #output-container {
    width: 50%;
    padding: 2rem;
    justify-content: space-between;
    font-size: 2rem;
  }
  #grid-selection {
    grid-template-columns: repeat(3, 1fr);
  }
  .btn, input {
    cursor: pointer;
  }
}

/*# sourceMappingURL=styles.css.map */
