@use "spacing" as *;
@use "typography" as *;
@use "layout" as *;

:root {
  --green400: hsl(172, 67%, 45%);
  --green900: hsl(183, 100%, 15%);
  --grey500: hsl(186, 14%, 43%);
  --grey400: hsl(184, 14%, 56%);
  --grey200: hsl(185, 41%, 84%);
  --grey50: hsl(189, 47%, 97%);
  --white: hsl(0, 100%, 100%);
  --red: hsl(6.38, 72.73%, 56.86%);
}

// Border radius values
$br-sm: 0.25rem;
$br-md: 0.5rem;
$br-lg: 0.75rem;
$br-xl: 1rem;

// Content
body {
  @include body;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  font-size: $fs-xl;
  font-weight: normal;
  margin: auto;
  width: 23.438rem;
}

main {
  background-color: var(--white);
  border-radius: $sp-4 $sp-4 $sp-0 $sp-0;
  flex-direction: row;
  padding: $sp-5;
}

#calculator { gap: $sp-5; }
#input-container { gap: $sp-6; padding: $sp-2; }

h1 {
  justify-self: center;
  margin: 3rem;
}

.label-row {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.label-heading { color: var(--grey500); font-size: $fs-base; }
.error-message { color: var(--red); font-size: $fs-sm; }
.section { gap: $sp-2; }

// Extend
%component-elements {
  border: none;
  border-radius: $br-sm;
  font-family: inherit;
  font-size: inherit; 
  height: 3rem;
  width: 100%;
}

%input-elements {
  border: none;
  background-color: var(--grey50);
  caret-color: var(--green400);
  color: var(--green900);
  padding: $sp-0 $sp-4;
  text-align: right;
}

// Input fields
.input-field {
  display: inline-block;
  position: relative;
  width: 100%
}

.input-field svg {
  left: $sp-5;
  pointer-events: none;
  position: absolute;
  top: 30%;
  transform: translate(-50%);
}

input { @extend %component-elements; @extend %input-elements; }
input:focus, input.focus { outline: 0.15rem solid var(--green400); }
input:out-of-range { outline: 0.15rem solid var(--red); }

// Remove stepper
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Buttons
#grid-selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $sp-4;
  padding: $sp-1 $sp-0;
}

.btn {
  background-color: var(--green900);
  color: var(--white);
  @extend %component-elements;
}

.reset, .btn.active, .reset:active { background-color: var(--green400); color: var(--green900); }

.reset {
  font-size: $fs-md;
  padding: $sp-2;
  text-transform: uppercase;
  width: 100%;
}

// Output container
#output-container {
  background-color: var(--green900);
  border-radius: $br-xl;
  font-size: $fs-xxl;
  gap: $sp-6;
  padding: $sp-6 $sp-5 $sp-5;
}

#output-text {
  color: var(--green400);
  gap: $sp-4;
}

#output-container label { color: var(--white); font-size: 0.938rem; }
#output-text div { 
  align-items: center;
  flex-direction: row; 
  justify-content: space-between; 
}
#output-text span { color: var(--grey400); font-size: $fs-xs; }
#output-text output::before { content: "$"; }

@media screen and (min-width: 48rem) {
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
  }

  main {
    border-radius: $br-xl;
    padding: $sp-6 1.8rem $sp-6 3rem;
    width: 57.5rem;
  }

  #calculator {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  h1 { margin: $sp-4 $sp-6 3rem; }

  #input-container { 
    gap: 2.5rem; 
    padding: $sp-3 $sp-0; 
    width: 48%;
  }

  #custom::placeholder { font-size: $fs-md; text-align: center; }

  #output-container {
    font-size: 2.5rem;
    justify-content: space-between;
    padding: 3rem 2.5rem 2.5rem;
    width: 52%;
  }

  #output-text { padding: $sp-0; }
  
  input:hover { outline: 0.15rem solid var(--green400); }

  #grid-selection { grid-template-columns: repeat(3, 1fr); }
  .btn, input { cursor: pointer; }
  .btn:hover { background-color: var(--grey200); color: var(--green900); }
}